* {
  box-sizing: border-box;
}

body {
  background: rgb(140, 43, 43);
}

.cv {
  max-width: 850px;
  min-height: 100px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 17px 9px 9px 1px rgba(0, 0, 0, 0.6);
}
.header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header h1 {
  font-size: 30px;
  font-weight: 80px;
}

h2 {
  margin: 15px 0;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 2px solid black;
}
h3 {
  font-size: 15px;
  font-weight: 550;
  text-align: justify;
  margin-top: 10px;
}
h3 span {
  display: inline-block;
}
.full-width {
  display: inline-block;
  width: 100%;
}
ul {
  padding: 0 18px;
  list-style-type: disc;
}
b {
  font-weight: bold;
}
